# =============================================================================
# BDCmonitoring Env Template
# Copy this file to '.env' and edit the values as required.
# =============================================================================

# Docker Compose Project Configuration
# Set to 'bdc_deploy' to automatically resolve to 'bdc_deploy_app-network'
COMPOSE_PROJECT_NAME=bdc_deploy

# Grafana Administrator Credentials
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin_secure_password

# Grafana Host Port Mapping
GRAFANA_PORT=3010
